@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .worksElements {
    @apply rounded;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .worksElements::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
    transform: translateY(100%);
  }

  .worksElements:hover::before {
    width: 100%;
    transform: translateY(0);
  }
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }


.ok{
  animation: updown 2s infinite ease alternate
}

  @keyframes updown {
    100% {
      transform: translateY(20px);
    }
  }