@tailwind base;
@tailwind components;
@tailwind utilities;


.grow {
  animation-name: grow;
}

@keyframes grow {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 400px;
    height: 400px;
  }
}


/* styles.module.css */
@layer components {
  .worksElements {
    @apply rounded;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
  }

  .worksElements::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Set the initial position to the center */
    transform: translateX(-50%); /* Move the element to the left by 50% of its width */
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 1s ease;
    transform-origin: left;
  }

  .worksElements:hover::before {
    width: 100%;
    background-color: yellow;
  }
}




@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }


.ok{
  animation: updown 2s infinite ease alternate
}

  @keyframes updown {
    100% {
      transform: translateY(20px);
    }
  }